PORT=10000
CLIENT_ORIGIN=https://tropicana-api-a0wc.onrender.com
ADMIN_UID=QOKcpcAF1EayBKXRqKVNjZrwuiz2
PAYPAL_MODE=live
PAYPAL_CURRENCY=MXN
PAYPAL_CLIENT_ID=BAA-zQSuSjrkFnLYjNX538HMzQCZ8rtttaMnGXHivkwpuAusQwkVJwQG4j62AnteZAbe6v972i9VP50Fuk
PAYPAL_CLIENT_SECRET=EAm_GyaR2ljn12WOCQJ-ExA6HxEEc7XOJ6USGf7fc6lvTahcJtwSGssaJYPZep7XcMT-HtYLrqOTfCpl
FIREBASE_ADMIN_PROJECT_ID=sitio-web-cb0c4
FIREBASE_ADMIN_CLIENT_EMAIL=firebase-adminsdk-fbsvc@sitio-web-cb0c4.iam.gserviceaccount.com
FIREBASE_ADMIN_PRIVATE_KEY=AIzaSyDYp6WBRVP1-UqjQxA_yxpcJYobqeRcNdU
